@font-face {
    font-family: NorseBold;
    src: url('./Norse-Bold.otf');
}

body {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
    font-weight: 560;
    margin: 0px;
    padding: 0px;
}


.container {
    display: flex;
    margin: auto;
}

form {}

.fields {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    border
    border-top-color: #888888;
    padding: 0px 0px 20px 50px;
    box-shadow: 0px 5px 0px #888888;
}
.fields >*{
     display: flex;
     flex: 1;
     flex-direction: column;
     gap:4px
}

.fields div {
    font-weight: 300;
    font-size: 0.8rem;
}

.fields p {
    flex-basis: 100%;
}

.left {
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    background-repeat: no-repeat;
    position: relative;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100vh;
    width: 45%;
    margin: 0%;
    padding: 0%;
    color: aliceblue;
}

.left h4 {
    position: absolute;
    bottom: 10px;
    right: 0px;
    left: 0px;
    margin: 0px;
    font-size: 11px;
}

.logo {
    font-family: NorseBold;
    font-size: 50px;
    margin-top: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.486);
    padding: 15px 30px 15px 30px;
}

.logo_head {
    height: 12vh;
}

.logo_name {
    color: aliceblue;
}

.right {
    align-self: center;
    max-width: 650px;
}

.right >* {
    margin-bottom: 20px;
}

.right >p {
    padding-left: 50px;
    padding-right: 50px;
}

button {
    font-size: 0.9rem;
    width: 180px;
    margin-top: 30px;
    background-color: #596D48;
    color: aliceblue;
    font-weight: 700;
    border-radius: 5px;
    padding: 10px 5px 10px 5px;
    margin-left: 50px;
}

input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
}

p {
    margin: 0px;
}

.login {
    font-size: 0.9rem;
    font-weight: 500;
    margin-top: 20px;
    margin-left: 50px;
}

h1 {
    margin: 0;
} 

a {
    text-decoration: none;
    font-weight: 600;
}

a:link {
    color:#596D48;
}