@font-face {
    font-family: NorseBold;
    src: url('./Norse-Bold.otf');
}


.container {
    font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 18px;
    font-weight: 560;
    display: flex;
    max-width: 800px;
    margin: auto;
}

form {
    display: flex;
    flex-direction: column;
    font-weight: 300;
    font-size: 0.8rem;
}

section {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid black;
    max-width: 700px;
}

.left {
    background-image: url(./halie-west-25xggax4bSA-unsplash.jpg);
    position: relative;
    background-position: center;
    background-size: auto;
    text-align: center;
    width: 45vh;
    margin: 0%;
    padding: 0%;
    color: aliceblue;
}

.left h4 {
    position: absolute;
    bottom: 10px;
    right: 0px;
    left: 0px;
    margin: 0px;
    font-size: 11px;
}

.logo {
    font-family: NorseBold;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.288);
    padding-top: 5px;
    padding-bottom: 5px;
    

}

.logo_head {
    height: 5vh;
}

.logo_name {
    color: aliceblue;
}

.right {
    padding-left: 10px;
}

button {
    width: 180px;
    margin-top: 10px;
}
